@import url("/styles/common.css");
@import url("/styles/input.css");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

h1 {
    font-family: Montserrat;
    font-weight: 900;
    margin: 0px;
}

p.catchphrase {
    font-family: 'IBMPlexSansKR';
    font-weight: 500;
    font-size: 24px;
    margin-top: 4px;
}

.input_wrap {
    margin-top: 48px;
}

.next {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 24px auto;
}
